*{
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
}

.header{
    display: flex; flex-direction: column;
    background-color: rgb(2, 121, 105);
    text-align: center;
    padding: 20px;
    border:rgb(196, 110, 253) solid 10px;
    color: antiquewhite;
    font-size: 50px;
    margin: 0px;
}

.header h1:hover{
    background-color: rgb(173, 127, 226);
    color: rgb(74, 238, 230);
}

#header2{ /* Header för sidan boka bord */
    color: antiquewhite;
    font-size: 100px;
    text-decoration: none;
    margin-top: 50px;
    padding: 50px;
}


#header2:hover{
    background-color: rgb(173, 127, 226);
    color: rgb(74, 238, 230);
}

#adress{ 
    font-size: 25px;
}

.topnav{
    background-color: rgb(80, 190, 157);
    padding: 30px;
    text-align: center;

    border-bottom: 10px rgb(196, 110, 253) solid;
    border-left: 10px rgb(196, 110, 253) solid;
    border-right: 10px rgb(196, 110, 253) solid;
}

.topnav a {
    color: rgb(36, 36, 206);
    text-decoration: none;
    padding: 30px;
    font-weight: bolder;
    font-size: 40px;
}

.topnav a:hover{
    background-color: rgb(173, 127, 226);
    color: rgb(74, 238, 230);
}

#bowls{
    flex: 1;
    width: 100%;
    height: auto;
    display: block;
}

#switch{
    display: flex; justify-content: center;
    padding: 60px;  
    margin: 0;
    background-color: rgb(173, 127, 226); 
    color:rgb(240, 250, 127);
    border: 10px solid rgb(69, 75, 249);
    font-size: 40px;
    font-weight: bolder;
}

.content{
    display: flex;
    padding: 60px;  
    background-color: antiquewhite; 
    font-size: 22px;
}

h2{ font-size: 35px;}

.cont-child1{
    flex: 1;
    padding: 10px; 
}

.cont-child2{
    flex: 1;
    padding: 10px;
}

.cont-child3{
    flex: 1;
    padding: 10px;
}

#cafe{
    flex: 1;
    width: 100%;
    height: auto;
    display: block; 
}

.content2{
    flex: 1;
    padding: 20px;
    background-color:rgb(174, 208, 209);
}

.footer{
    display: flex; justify-content: space-around;
    padding: 10px;  
    background-color: rgb(2, 121, 105); 
    border: 15px solid rgb(196, 110, 253);
    color: antiquewhite; 
    padding: 20px;
}

.foot-child1{
    flex: 1;
    color: antiquewhite;
    padding: 20px;
    font-size: 20px;
}

.foot-child1 a{
    color: antiquewhite; 
}

.foot-child2{
    flex: 1; 
    color:rgb(36, 36, 206);
    background-color:rgb(80, 190, 157);
    text-align: center;
    padding-top: 100px;
}

.foot-child3{
    flex: 1;
    padding: 20px;
    font-size: 20px;
}

/* Här börjar CSS för sidan boka bord*/

.bokabord-parent{
    display: flex;  
    background-color: antiquewhite;

}


.bokabord-rubrik h2{
    font-size: 36px;
}

.bokabord-rubrik p, a{
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.child1{
    flex: 1;
    text-align: center;
    padding: 60px;
    background-color: antiquewhite; 
    text-align: center;
}

.child2{
    flex: 1;
align-self: 100%;
}

.child2 img{
    width: 100%;
    height: 100%;
}

.tillbaka a{
    display: flex; justify-content: center;
    padding: 20px;
    background-color: rgb(80, 190, 157);
    font-size: 40px;
    font-weight: bolder;
    color: rgb(36, 36, 206);
    font-size: 45px;
}

.tillbaka a:hover{ 
        background-color: rgb(173, 127, 226);
        color: rgb(74, 238, 230);
}

/* Media Queries */

@media (max-width:992px) {
    .header{
        flex: 50%;
    }
    
    .bokabord-parent{
        display: flex;  
       flex-direction: column;
    }
}

@media (max-width:725px) {
    .header{
        flex: 50%;
    }
    h1{
        font-size: 50px;
    }

    #header2{ /* Header för sidan boka bord */
        font-size: 45px;
        padding: 10px;
        margin-top: 20px;
    }

    #adress{ 
        font-size: 20px;
    }

    .topnav a{
        font-size: 30px;
    }

#switch{
    display: flex;
    font-size: 25px;
    padding: 30px;
}

    .content{
        flex-direction: column;
        text-align: center;
    }

    .bokabord-parent{
        display: flex;  
       flex-direction: column;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .foot-child2{
        padding: 20px;
    }
}

@media (max-width:600px) {
    .header{
        flex: 50%;
    }
    h1{
        font-size: 45px;
    }

    #adress{ 
        font-size: 15px;
    }

    .topnav a{
        font-size: 20px;
        padding: 10px;
    }

    #switch{
        display: flex;
        font-size: 18px;
        padding: 20px;
        border: 5px solid rgb(69, 75, 249);
    }

    .content{
        flex-direction: column;
        text-align: center;
    }

    .tillbaka a{
        font-size: 20px;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .foot-child2{
        padding: 20px;
    }

    img{
        width: 100%;
        height: auto;
    }
}